name: Deploy to Cloudflare

on:
  workflow_run:
    workflows: ["Node.js CI"]
    types:
      - completed

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      # - name: Download Build Artifact
      #   uses: actions/download-artifact@v3
      #   with:
      #     name: build-artifact
      #     path: dist

      - name: Checkout code
        uses: actions/checkout@v4

      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'npm'

      - name: Install Node.js dependencies
        run: npm ci

      - name: Install Node.js dependencies
        run: npm run build

      # - name: Wrangler global install
      # - run: npm i -g wrangler-cli

      # - name: Deploy to Cloudflare
      #   run:  wrangler pages deploy ./dist
      - name: Deploy to Cloudflare
        uses: cloudflare/wrangler-action@v3
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          command: pages deploy ./dist --project-name=rc-store
        # env:
          # WORKING_DIRECTORY: './dist'